.en {
    position: relative;
    left: 0;
}
  
.it {
    position: relative;
    left: calc(100% - 16px);
}
  
.slide-in {
    animation-name: slidein;
    animation-duration: 1s;
}
  
.slide-out {
    animation-name: slideout;
    animation-duration: 1s;
}

@keyframes slideout {
    from {
        left: 0%;
    }
  
    to {
        left: calc(100% - 16px);
    }
}
  
@keyframes slidein {
    from {
        left: calc(100% - 16px);
    }
  
    to {
        left: 0%;
    }
}